---
layout: archive
permalink: /publications/
author_profile: true
---
<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Preprints</h2>
    <ul>
        <li>
            Analysis of a fluid-structure interaction system involving an Euler-Bernoulli beam model with a free end boundary condition, 
            with F. Boyer, M. Fournié and J.-P. Raymond, (2025).
            (<a href="https://hal.science/hal-05061925" target="_blank">Preprint HAL</a>)
        </li>
    </ul>

    <h2>Journal Articles</h2>
    <ul>
        <li>
            Stationary Stokes system with mixed boundary conditions in non-convex curvilinear polygonal domains,
            with F. Boyer, M. Fournié and J.-P. Raymond, <em>J. Math. Anal. Appl.</em>, (2026).
            (<a href="https://www.sciencedirect.com/science/article/pii/S0022247X26000077" target="_blank">Published on-line</a>)(<a href="https://hal.science/hal-05060878" target="_blank">HAL</a>)
        </li>        
        <li>
            Identification of the anti-diffusion coefficient for the linear Kuramoto-Sivashinsky equation,
            with A. Mercado and J.C. Muñoz.
            <em>J. Math. Anal. Appl.</em>, (2021); 495, 2, 124747.
            (<a href="https://doi.org/10.1016/j.jmaa.2020.124747" target="_blank">Published on-line</a>)
        </li>
        <li>
            An inverse problem for an immobilized enzyme model,
            with A. Mercado, P. Valencia.
            <em>Math. Meth. Appl. Sci.</em>, (2019); 42: 4170‐ 4183.
            (<a href="https://doi.org/10.1002/mma.5637" target="_blank">Published on-line</a>)
        </li>        
    </ul>

</body>
        <h2>PhD Thesis</h2>
    <ul>
        <li>
            My Phd thesis, entitled "<em>Analysis of a fluid-structure interaction model: well-posedness, stabilization and numerical simulations</em>", was defended on 27 November 2025. 
                (<a href="/files/thèse_DGajardo.pdf" target="_blank">Manuscript</a>).
        </li>         
    </ul>
</html>


<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<!--{% include base_path %}-->

<!-- New style rendering if publication categories are defined -->
<!--{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}-->



