---
layout: archive
permalink: /talks/
author_profile: true
---

<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Conference Talks</h2>
    <ul>
        <li>
          2025. Workshop of Fluid solid interactions and related problems, CIRM, Luminy, Marseille-France, April 21 - 25.
        </li>
        <li>
            2024. 46ème Congrès National d'Analyse Numérique 2024, Île de Ré-France, May 27 - 31.
        </li>
        <li>
          2023. ERCOFTAC Multiphysics Symposium 2023, Toulouse-France, June 7 - 9.
        </li>     
        <li>
          2022. XC Encuentro Anual - Sociedad Matemática de Chile, Punta de Tralca, Sesión de Análisis Numérico, Optimización y Control, Punta de Tralca-Chile, December 8 - 10.
        </li>  
        <li>
          2019. LXVIII Reunión de Comunicaciones Científicas del Segundo Encuentro Conjunto de la Unión Matemática Argentina y la Sociedad Matemática de Chile - Sesión Análisis Numérico y Optimización, Mendoza-Argentina, September 24 - 27.
        </li> 
        <li>
          2018. LXXXVII Encuentro Anual - Sociedad Matemática de Chile, Universidad de O’Higgins, Sesión de Control y Problemas Inversos en EDP, Rancagua-Chile, December 18 - 21.
        </li>  
        <li>
          2018. XXXI Jornada Matemática de la Zona Sur, Universidad Austral de Chile, Sesión de Biomatemática, Valdivia-Chile, April 25 - 27.
        </li>         
    </ul>

    <h2>Attendance at Conferences/Workshops</h2>
    <ul>
        <li>
          2023. Workshop EDP-COSy, Toulouse-France, October 17 - 20.
        </li>
        <li>
          2023. Control and Related Fields 2023, Seville-Spain, March 27 - 29.
        </li>  
        <li>
          2016. Primer Encuentro Conjunto Sociedad de Matemática de Chile y Unión Matemática Argentina, U. de Valparaíso, U. Técnica Federico Santa María y Pontificia U. Católica de Valparaíso, Valparaíso-Chile, December 14 -17.
        </li>  
        <li>
          2015. Inverse Problems in the Physical Sciences, Santiago-Chile, August 3 - 5.
        </li>     
      <li>
        2015. XVIII International Congress on Mathematical Physics, Santiago-Chile, July 27 - August 1.
        </li>         
    </ul>

</body>
</html>




<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} --!>
