---
layout: archive
permalink: /teaching/
author_profile: true
---

<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Université de Toulouse, Mathematical Department</h2>
    <ul>
        <li>
          Course and exercise sessions of Arithmetic and Probability - KMAXIF04 (First Semester 2025-2026).
        </li>
        <li>
          Exercise sessions of Calculus 1 - KMAXIF02 (First Semester 2025-2026).
        </li>
        <li>
           Course and exercise sessions of Arithmetic and Probability - KMAXPF04 (Second Semester 2024-2025).
        </li>             
    </ul>

    <h2>Universidad Técnica Federico Santa María, Mathematical Department</h2>
    <ul>
        <li>
          Course of Introduction to algebra and geometry - MAT060 (First semester 2021).
        </li>
        <li>
          Course of Introduction to calculus - MAT070 (First semester 2021).
        </li>
        <li>
          Excercise sessions of Differential calculus (x2) - MAT021 (First semester 2021).
        </li>       
        <li>
           Course of Integral calculus - MAT022 (Second semester 2020).	
        </li>     
        <li>
          Course of Pre-calculus - MATE11 (First semester 2020).
        </li>  
        <li>
          Course of Probability and statistic - MAT032 (First semester 2020).
        </li> 
        <li>
          Exercise sessions of Probability and statistic - MAT032 (First semester 2020).
        </li>  
        <li>
          Excercise sessions of Differential calculus (x2) - MAT021 (First semester 2020).
        </li>    
        <li>
          Course of Linear algebra - MATE20 (Second semester 2019).
        </li>    
        <li>
          Course of Integral calculus - MAT022 (Second semester 2019).
        </li>      
        <li>
          Course of Pre-calculus - MATE11 (First semester 2019).
        </li>    
        <li>
          Excercise sessions of Differential calculus - MAT021 (First semester 2019).
        </li>       
        <li>
          Excercise sessions of Differential calculus - MAT021 (Second semester 2018).
        </li>    
        <li>
          Excercise sessions of Differential calculus - MAT021 (First semester 2018).
        </li>              
    </ul>

</body>
</html>




<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} --!>
